name: Deploy to server

on: push

jobs:
  first_job:
    name: Test
    runs-on: ubuntu-latest
    outputs:
      output_key: ${{ steps.step_1.outputs.my_variable }}

    steps:
      - name: Generate artifact
        run: |
          echo "Test file, hello" >> test.log

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-file
          path: test.log
